<h1>TP Teoria de la comunicacion</h1>
<h2>Códigos de Hamming</h2>

<p><%= link_to "Generar Código Hamming", controller: "generators" %></p>
<p><%= link_to "Decodificar Código Hamming", controller: "fixers" %></p>
