<h1>TP Teoria de la comunicacion</h1>
<h2>C贸digos de Hamming</h2>

<h3>C贸digo Hamming Decodificado</h3>

<h4>C贸digo: <%= @hc.hamming_code_input %></h4>
<h4>Mensaje: <%= @hc.raw_code %></h4>

<%= link_to "Nueva Decodificaci贸n", controller: "fixers" %>
